{% extends "MnmGradingBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
     'bundles/mnmgrading/css/jquery.handsontable.full.css'
    %}
    <style>
        #example1 thead th{
            font-size: 90%;
            font-weight: bold
        }
    </style>
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block container %}
    <section>
        <pre id="example1console" class="console">Enter your data</pre>
        <div id="example1" class="handsontable"></div>
    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var roster
        ={{roster|json_encode()|raw}}
    </script> 
    {{ parent() }}
    {% javascripts 
'@MnmGradingBundle/Resources/public/js/jquery.handsontable.full.js'
'@MnmGradingBundle/Resources/public/js/table-grading.js'
    %}
    <script type="text/javascript"   src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}