{% extends "MnmGradingBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
     'bundles/mnmgrading/css/custom.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block container %}

    {%if scores %}
        <div class="container hist">
            <h3>Your current scores</h3>
            {#           <div class="col-lg-2">
                           <ul> <li class="list-group-item list-group-item-info">Your Final Grade </li>
                               <li  class="list-group-item score-final"><h3 style="font-size:42px;font-weight: bold;margin-top: 10px;text-align: center">{{scores[0].user.final_grade}}</h3></li>
                           </ul>
                       </div>#}
            {% for item in scores %}
                {%for key, table in item%}
                    {%if key != 'user' %}
                        <div class="col-lg-2">
                            <ul> <li class="list-group-item list-group-item-info">{{key}}</li>
                                    {% for key, score in table['scores'] %}
                                    <li  class="list-group-item score-{{score}}">{{key|replace({'_':' '})|capitalize}}<span class="badge badge-danger">{{ score}}</span></li>
                                    {%endfor%}
                            </ul>
                        </div>
                    {%endif%}
                {% endfor%}
            {% endfor %}
        </div>
    {% else %}
        <section class="center">
            <div class="alert alert-warning">
                There are  no score records for your account.
            </div>
        </section>
    {% endif %}
    <div class="histograms"></div>
{% endblock %}
{#var roster
        ={{roster|json_encode()|raw}}#}
{% block javascripts %}
    <script type="text/javascript">
{#        var histVals ={{histVals|json_encode()|raw}}#}
{#                var scores ={{scores|json_encode()|raw}}#}

    </script> 
    {{ parent() }}
    {#{% javascripts 
'@MnmGradingBundle/Resources/public/js/d3.v3.js'
'@MnmGradingBundle/Resources/public/js/d3hist.js'
    %}
    <script type="text/javascript"   src="{{ asset_url }}"></script>
    {% endjavascripts %}#}

{% endblock %}


