{% extends "MnmGradingBundle::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
     'bundles/mnmgrading/css/jquery.handsontable.full.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block container %}
{#    This is table#}
{#    <button  onclick="callmongo()">Call Mongo</button>#}
{#    <button name="load">Load</button> <button name="loadhwscore">HW Scores</button><button name="save">Save</button>#}
{#    <label><input type="checkbox" name="autosave" checked="checked" autocomplete="off"> Autosave</label>#}


{#    <pre id="example1console" class="console">Click "Load" to load data from server</pre>#}
    <div id="example1" class="handsontable"></div>

{#    <button name="dump" data-dump="#example1" title="Prints current data source to Firebug/Chrome Dev Tools">
        Dump data to console
    </button>#}
    <script src="../../public/js/tablesafety.js" type="text/javascript"></script>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var list
                ={{list|json_encode()|raw}}    </script> 
    {{ parent() }}
    {% javascripts 
'@MnmGradingBundle/Resources/public/js/jquery.handsontable.full.js'
'@MnmGradingBundle/Resources/public/js/tablesafety.js'
    %}
    <script type="text/javascript"   src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
                $(".nav-tabs .active a").click();
    </script>    
{% endblock %}