a.btn:hover {
    background-color: #f5f5f5 !important
}
a.btn.active, a.btn.active:hover {
    background-color: #c5c5c5  !important
}

/* D3 Plot styles*/
.bar rect {
    /*fill: steelblue;*/
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.histograms { min-height: 480px;}

.chartlabel{
    text-anchor:middle;
    margin-left:30%;
    margin-top:30%;
    font-size:18px;
    /*text-decoration:underline;*/
}

.hist {
    border: 2px solid whitesmoke;
    margin-top:20px;
}

.score-0 {
    background-color: red  !important; 
    color: white;
    font-weight: bold;
}